.rowan-div {
    width: 60%;
    /* height: 100%; */

    /* background-color: red; */
    margin: 0 auto;
}

.rowan-title {
    font-size: 4.25rem;
    margin: 0;
}

.rowan-subtitle {
    font-size: 1.625rem;
    margin: 0;
}

.font-medium {
    font-weight: 500;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.rowan-color-bg {
    background-color: #FCFAFA;
    color: black;
}

.rowan-color-logo {

    background-color: #EE4D2D;
    color: white;
}

.rowan-color-cta {

    background-color: #841600;
    color: white;
}

.sketches-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sketches-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rowan-sketch-images {
    width: 550px;
    /* width: 100%; */
}

.rowan-sketch-images-mdf {
    width: 100%;
}

.rowan-lofi-images {
    width: 12rem;
    border-radius: 20px;
}


.rowan-sketches-subtitle {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

.rowan-vs-mydesign,
.prev-vs-final-des {
    display: flex;
    justify-content: space-around;

}

.prev-vs-final-des {
    flex-wrap: wrap;


}

.rowan-vs-mydesign div,
.prev-vs-final-des div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prev-vs-final-des div p:first-of-type {
    margin: 0;
    margin-bottom: 1.5rem;
}

.prev-vs-final-des div h3 {
    margin-bottom: .5rem;
}

.rowan-main-prod-page {
    width: 15rem;
    border-radius: 20px;
}

.rowan-main-prod-page:hover {
    cursor: pointer;
}

.currvsnew-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.currvsnew-img {
    width: 500px;
}

.currvsnew-img-mdf {
    width: 90%;
}

.currvsnew-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1100px) {

    .rowan-sketch-images {
        width: 100%;
    }

    .currvsnew-img {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .rowan-div {
        width: 70%;
    }

}

@media screen and (max-width: 800px) {
    .rowan-main-prod-page {
        width: 13rem;
    }
}



@media screen and (max-width: 600px) {

    .rowan-sketch-images {
        width: 95%;
    }
}

@media screen and (max-width: 550px) {

    .rowan-sketch-images {
        width: 90%;
    }

    .rowan-main-prod-page {
        width: 10rem;
    }

    .rowan-lofi-images {
        width: 10rem;
    }
}




@media screen and (max-width: 500px) and (orientation: portrait) {
    .rowan-div {
        width: 95%;
    }



}