.about-div {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.about-title {
    font-size: 4.25rem;
    text-align: center;
}

.about-me-div {
    display: flex;
    justify-content: space-around;
}

.image-div {
    width: 48%;
}

.image {
    width: 100%;
    height: 50rem;
    border-radius: .625rem;
    object-fit: cover;
}

.about-me-details {
    display: flex;
    flex-direction: column;
    width: 48%;
    /* height: 100%; */
}

.background {
    position: relative;
    width: 20rem;
    height: 4rem;
    margin-top: 3rem;
    left: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 39, 44, .7);
    border-radius: 1.25rem;
    backdrop-filter: blur(.1rem);
    -webkit-backdrop-filter: blur(.1rem);
}

.name {
    font-size: 2.625rem;
    font-weight: bold;
    z-index: 1;
}

.about-details {
    width: 100%;
    height: 100%;

}


.linkedin-icon {
    width: 2rem;
    height: 2rem;
}


.reactjs-bg-text {

    position: absolute;
    bottom: 1%;
    right: -10%;
    font-size: 11.063rem;
    font-weight: bold;
    z-index: -2;
    line-height: 2rem;
}

.about-container {
    width: 100%;
    overflow: hidden;
}

@media screen and (max-width: 1000px) {


    .about-me-details {
        width: 38%;
    }

    .image-div {
        width: 58%;
    }


}

@media screen and (max-width: 800px) {


    .about-me-div {
        /* position: absolute; */
        flex-direction: column;
    }

    .about-me-details {
        position: relative;
        top: -3vh;
        width: 100%;
    }

    .image-div {
        width: 100%;
    }

    .background {

        left: 0;
        margin-top: 0;
    }

}





@media screen and (max-width: 1000px) {



    .reactjs-bg-text {

        font-size: 6.875rem;
    }


}

@media screen and (max-width: 650px) {

    .image {
        height: 25rem;
    }
}

@media screen and (max-width: 600px) {


    .reactjs-bg-text {

        font-size: 4.25rem;
    }
}

@media screen and (max-width: 500px) {


    .about-title {
        font-size: 2.625rem;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {

    .background {
        width: 100%;
        height: 100%;
    }

    .name {
        font-size: 2rem;
        margin: .5rem .5rem;
    }

    .about-me-details {
        top: -3vh;
    }
}

@media screen and (max-width: 400px) {


    .reactjs-bg-text {
        right: -20%;
    }
}