.document-item-div {
    width: 100vw;
    /* height: 100vh; */
    height: 100%;
    background-color: rgb(45, 54, 61, .7);
    backdrop-filter: blur(2.5rem);
    -webkit-backdrop-filter: blur(2.5rem);
    position: fixed;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: flex-end;
    top: 0;
    left: 0;
    z-index: 3;
    overflow: auto;
}

.icon-div {
    display: flex;
    justify-content: flex-end;
}

.doc-close-icon {

    margin-top: 2%;
    margin-right: 5%;
    width: 2rem;
    height: 2rem;
}

.doc-close-icon:hover {
    cursor: pointer;
}

.go-back {
    width: 60%;
    font-size: 1.25rem;
    margin: 0 auto;
}

.go-back:hover {
    color: #ada02a;
    cursor: pointer;
}


.my-port-filler {
    height: 5rem;
}

@media screen and (max-width: 900px) {

    .go-back {
        width: 70%;
    }
}

@media screen and (max-width: 500px) and (orientation: portrait) {

    .go-back {
        width: 95%;
    }

}