.notfound-div {
    width: 100vw;
    height: 100vh;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notfound-title {
    margin: 0 1rem;
    font-size: 6.875rem;
}

.notfound-subtitle {
    margin: .5rem 1rem;
}