.scroll-icon {

    /* position: sticky; */

    /* right: 0; */
    width: 2rem;
    height: 2rem;
}

.scroll-down-div {
    position: sticky;
    width: 100%;
    left: 93vw;
    bottom: 2vh;
    display: flex;
    justify-content: flex-end;
    /* background-color: blue; */
    /* z-index: 2; */
    /* top: 100%; */
}

.scroll-down {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
}

.scroll-text {
    text-align: center;
}