.select-proj-title {
    font-size: 4.25rem;
}

.selected-proj-div {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 10rem;
}

.ux-bg-text {
    position: absolute;
    top: 1%;
    left: -10%;
    font-size: 11.063rem;
    font-weight: bold;
    z-index: -2;
}


.ui-bg-text {
    position: absolute;
    bottom: 1%;
    right: -10%;
    font-size: 11.063rem;
    font-weight: bold;
    z-index: -2;
    line-height: 2rem;
}


.works-container {
    width: 100%;
    overflow: hidden;
}



@media screen and (max-width: 775px) {

    .ux-bg-text {
        top: 4%;
        font-size: 6.875rem;
    }


    .ui-bg-text {
        bottom: -1%;
        font-size: 6.875rem;
    }

}

@media screen and (max-width: 500px) {


    .ux-bg-text {
        top: 6%;
        left: -20%
    }


    .ui-bg-text {
        bottom: -1%;
        right: -13%;
    }

    .select-proj-title {
        font-size: 2.625rem;
    }


}